<section id="page1">
    <div class="overlay"></div>
    <div class="content">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <p class="italic">Oh, hello, nice to meet you!</p>
                    <h1>My name is Hanna.</h1>
                    <p class="italic">I am a Back End Software Engineer,</p>
                    <p class="italic">passionate about learning and bringing innovation and wellness together.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="icon faa-float animated" id="downButton" data-index="2">
        <a style="color:#FFF;"><i class="fa fa-angle-double-down"></i></a>
    </div>
</section>