<section id="page5" class="section-gray">
    <div class="content">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">Daily Dose</h2>
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <!--carousel-->
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="tcb-quote-carousel">
                                        <div class="quote"><i class=" fa fa-quote-left fa-4x"></i></div>
                                        <div class="carousel slide carousel-fade" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
                                            <!-- Carousel indicators -->
                                            @*<ol class="carousel-indicators">
                                                    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                                    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                                </ol>*@
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/jobs.jpg" alt="Steve Jobs"></div>
                                                    <blockquote>
                                                        <h4>Your time is limited, so don't waste it living someone else's life.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/teresa.jpg" alt="Mother Teresa"></div>
                                                    <blockquote>
                                                        <h4>Not all of us can do great things. But we can do small things with great love.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/gates.jpg" alt="Bill Gates"></div>
                                                    <blockquote>
                                                        <h4>It's fine to celebrate success, but it is more important to heed the lesson of failure.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/hepburn.jpg" alt="Audrey Hepburn"></div>
                                                    <blockquote>
                                                        <h4>Nothing is impossible, the word itself says 'I'm possible'!.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/einstein.jpg" alt="Albert Einstein"></div>
                                                    <blockquote>
                                                        <h4>A person who never made a mistake never tried anything new.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/lincoln.jpg" alt="Abraham Lincoln"></div>
                                                    <blockquote>
                                                        <h4>The best way to predict the future is to create it.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/branson.jpg" alt="Richard Branson"></div>
                                                    <blockquote>
                                                        <h4>Happiness is the secret ingredient for successful business. If you have a happy company it will be invincible.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/winfrey.jpg" alt="Oprah Winfrey"></div>
                                                    <blockquote>
                                                        <h4>Passion is energy. Feel the power that comes from focusing on what excites you.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/aristotle.jpg" alt="Aristotle"></div>
                                                    <blockquote>
                                                        <h4>Pleasure in the job puts perfection in the work.</h4>
                                                    </blockquote>
                                                </div>
                                                <div class="item">
                                                    <div class="profile-circle"><img class="img-responsive" src="~/img/mandela.jpg" alt="Nelson Mandela"></div>
                                                    <blockquote>
                                                        <h4>Education is the most powerful weapon which you can use to change the world.</h4>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End carousel-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>