<section id="page4">
    <div class="content">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">Portfolio</h2>
                    <p class="text-center">If you would like to see more projects of mine, visit my <a href="https://github.com/Hann-B" target="_blank">GitHub</a>. </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box hvrbox">
                                <a href="https://grubtime.now.sh/swagger" target="_blank" title="GrubTime API">
                                    <img src="~/img/grubtime.jpg" alt="" class="img-responsive" id="image">
                                    <div class="hvrbox-layer_top">
                                        <div class="hvrbox-text">
                                            GrubTime <p class="italic">API documentation</p><p class="italic">A Web Application used to search your area for restaurants near you and open for business.</p>
                                            @*<p class="italic">Build Summary: .NET Core, ASP.NET Web API, OAuth, C#, MySQL</p>*@
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box hvrbox">
                                <a href="https://libraryapi.gear.host/swagger/ui/index" target="_blank">
                                    <img src="~/img/library.jpg" alt="Online Library API" class="img-responsive" id="image">
                                    <div class="hvrbox-layer_top">
                                        <div class="hvrbox-text">Online Library API<p class="italic">API documentation</p><p class="italic">Local library migrates to virtual database to improve store front efficiency.</p></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box hvrbox">
                                    <a href="https://www.codewars.com/users/Hann-B" target="_blank">
                                        <img src="~/img/codewars.jpg" alt="" class="img-responsive" id="image">
                                        <div class="hvrbox-layer_top">
                                            <div class="hvrbox-text">Codewars.com<p class="italic">Kata Fun</p><p class="italic">Code kata practices, performed in various languages.</p></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box hvrbox">
                                    <a href="https://retiysports.gear.host/" target="_blank">
                                        <img src="~/img/sports.jpg" alt="" class="img-responsive" id="image">
                                        <div class="hvrbox-layer_top">
                                            <div class="hvrbox-text">TIY Sports<p class="italic">Design Replication</p><p class="italic">Using only Bootstrap components recreate a web application landing page from a screenshot of the site.</p></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">If you would like to view my resume, click <a href="@Url.Action("Resume", "Home")" target="_blank">here</a>. </p>
                </div>
            </div>
        </div>
    </div>
</section>